.encabezado {
    background-image: url("../J5.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.header {
    background-color: transparent;
}

.headerOnScroll {
    background-color: var(--negro-gris);
}

.buttonCallToAction {
    border: 1px solid var(--azul-oscuro);
    background-color: var(--azul-oscuro);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
}

.buttonLink:hover {
    animation-name: Getbigger;
    animation-fill-mode: both;
    cursor: pointer;
}

.link:hover {
    animation-name: Getbigger;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes Getbigger {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}