.encabezado {
    background-image: url("../J5.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.header {
    background-color: transparent;
}

.headerOnScroll {
    background-color: var(--negro-gris);
}

.buttonLink:hover {
    animation-name: Getbigger;
    animation-fill-mode: both;
    cursor: pointer;
}

.link:hover {
    animation-name: Getbigger;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes Getbigger {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}

.nav-links {
    animation-duration: 3s;
    animation-name: slide;
}

.nav-menu {
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes slide {
    from {
        margin-top: -50%;
        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}

.buttonCallToAction {
    border: 1px solid var(--azul-oscuro);
    background-color: var(--azul-oscuro);
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
}

@media screen and (min-width: 767px) {
    .buttonCallToAction {
        padding: 20px;
        width: 500px;
    }

    .homePosition {
        height: 100vw;
        max-height: 1620px;
        padding-bottom: 260px;
        align-items: flex-start;
        margin-left: 64px;
    }
}

@media screen and (max-width: 766px) {
    /* pantalla mobile */

    .buttonCallToAction {
        padding: 10px;
        width: 200px;
    }

    .homePosition {
        margin-top: 0px;
        align-items: center;
    }
}