div {
    &.ant-modal-content {
        // background-color: var(--gris) !important;
        background-image: url('../public/gloves.webp') !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
        background-blend-mode: darken !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }

    &.ant-modal-header {
        background-color: transparent !important;
    }

    &.ant-modal-title {
        color: white !important;
    }
}

span {
    &.ant-input-outlined {
        background: var(--gris-oscuro) !important;
        border-color: var(--gris-oscuro) !important;
        color: black !important;
    }
}

button {
    &.ant-btn-variant-solid {
        background: var(--negro-gris) !important;
        color: var(--gris-claro) !important;
    }
}